body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
img {
    display: block;
}

button {
    cursor: pointer;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*  #region header */
.header-page {
    border-bottom: 1px solid #e7e9fc;
}

.header-page .container {
    display: flex;
    justify-content: space-between;
}

.nav-page {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.logo-style {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    
}

.nav-list-item {
   

}

.nav-item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-list-item {
    display: block;
    
}

.address-info {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-info:hover,
.address-info:focus {
    color: #404bbf;
}
/* #endregion */

/* #region hero */
.hero {
   
    padding: 188px 0;
    background-color: #2e2f42;
    
}
.hero .container {

}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}


.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer; 
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
/* #endregion */


/* #region Features */
.features-page {
    padding: 120px 0;
}

.features-title {
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: 264px;
}

.feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Our Team */
.team-page {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-page .container {
    
    margin-bottom: 120px;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.team-item {
    width: 264px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}

.team-card-emp {
    padding: 32px 0;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    
}
/* #endregion */

/* #region Portfolio */
.portfolio-page {
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.portfolio-page .container {

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-list-item {
    width: 360px;
}

.portfolio-card-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.porfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.porfolio-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */


/* #region footer */
.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-page .container {
    
}

.logo-footer{
    display: inline-block;
    margin-bottom: 16px; 

}

footer .logo-style {
    color: #f4f4fd
}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion */